# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env/

# Logs (IMPORTANT for your project)
logs/
*.jsonl

# Database
*.db

# OS junk
.DS_Store
Thumbs.db

config/ip_lists.json

# Node (for frontend later)
node_modules/
build/
dist/